<!DOCTYPE html>

<html>

 
<head>
  
    <title>Login</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- //Meta tags -->
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" /><!-- Style-CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->


</head>


<body>

   <div>
       @RenderBody()
     </div>
</body>
</html>
