<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/IndexStyles.css"/>
    <link rel="stylesheet" href="~/Content/SliderCss.css"/>
   

    <title>Login</title>
</head>
<body>


    <div id="divdrop">

        <h2>
            <span>U</span>
            <span>R</span>
            <span>B</span>
            <span>A</span>
            <span>N</span>
            <span>-</span>
            <span>S</span>
            <span>H</span>
            <span>O</span>
            <span>E</span>
            <span>S</span>


        </h2>
    </div>


    <div id="divback">

        <div id="divElement">
            <section class="carousel" aria-label="Gallery">
                <ol class="carousel__viewport">
                    <li id="carousel__slide1"
                        tabindex="0"
                        class="carousel__slide">
                        <div class="carousel__snapper">
                            <img style="position: absolute; margin-top: -120px;width: 1000px; height: 1000px;" src="~/Image/Shoe1.jpg" alt="Alternate Text" />
                            <a href="#carousel__slide4"
                               class="carousel__prev">Go to last slide</a>
                            <a href="#carousel__slide2"
                               class="carousel__next">Go to next slide</a>
                        </div>
                    </li>
                    <li id="carousel__slide2"
                        tabindex="0"
                        class="carousel__slide">
                        <div class="carousel__snapper"></div>
                        <img style="position: absolute; margin-top: -70px;width: 1000px; height: 1000px;" src="~/Image/Shoes2.png" alt="Alternate Text" />
                        <a href="#carousel__slide1"
                           class="carousel__prev">Go to previous slide</a>
                        <a href="#carousel__slide3"
                           class="carousel__next">Go to next slide</a>
                    </li>
                    <li id="carousel__slide3"
                        tabindex="0"
                        class="carousel__slide">
                        <div class="carousel__snapper"></div>
                        <img style="position: absolute; margin-top: -140px;width: 1000px; height: 1000px;" src="~/Image/Shoe3.jpg" alt="Alternate Text" />
                        <a href="#carousel__slide2"
                           class="carousel__prev">Go to previous slide</a>
                        <a href="#carousel__slide4"
                           class="carousel__next">Go to next slide</a>
                    </li>
                    <li id="carousel__slide4"
                        tabindex="0"
                        class="carousel__slide">
                        <div class="carousel__snapper"></div>
                        <img style="position: absolute; margin-top: -140px;width: 1000px; height: 1000px;" src="~/Image/Shoe4.jpg" alt="Alternate Text" />
                        <a href="#carousel__slide3"
                           class="carousel__prev">Go to previous slide</a>
                        <a href="#carousel__slide1"
                           class="carousel__next">Go to first slide</a>
                    </li>
                </ol>
                <aside class="carousel__navigation">
                    <ol class="carousel__navigation-list">
                        <li class="carousel__navigation-item">
                            <a href="#carousel__slide1"
                               class="carousel__navigation-button">Go to slide 1</a>
                        </li>
                        <li class="carousel__navigation-item">
                            <a href="#carousel__slide2"
                               class="carousel__navigation-button">Go to slide 2</a>
                        </li>
                        <li class="carousel__navigation-item">
                            <a href="#carousel__slide3"
                               class="carousel__navigation-button">Go to slide 3</a>
                        </li>
                        <li class="carousel__navigation-item">
                            <a href="#carousel__slide4"
                               class="carousel__navigation-button">Go to slide 4</a>
                        </li>
                    </ol>
                </aside>
            </section>
        </div>


    </div>

</body>
</html>
